<html>
  <head>
    <title>Reading Pokemons</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <% for (const [type, pokemons] of Object.entries(groupedPokemons)) { %>
        <div class="type">
      <h2>
        Type : <%= type %>
      </h2>
      <%pokemons.forEach(pokemon => { %>
        <div class="pokemon">
            Name: <%= pokemon.name %> <br>
            Level: <%= pokemon.level %> <br>
            Trainer: <%= pokemon.trainer %> <br>
            Created at: <%= pokemon.created_at %> <br>
            <form action="/delete" method="POST" onsubmit="return confirm('Are you sure you want to delete this Pokémon?')" style="display: inline;">
                <input type="hidden" name="pokemonName" value="<%= pokemon.name %>">
                <button type="submit">Delete</button>
            </form>
            <form action="/update" method="GET" style="display: inline;">
                <input type="hidden" name="name" value="<%= pokemon.name %>">
                <button type="submit">Update</button>
            </form>
        </div> <br>
    </div>
      <%}); %>
    <%} %>
  </body>
</html>